<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پنل دانشجویان | کارنامه ها</title>
  <link rel="icon" type="image/png" sizes="94x94" href="../../images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="../../images/Favicon/manifest.json">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  

  <style>

    body {

      background-color: #F4F4F8 !important;

    }

    .swiper-container {

      width: 100%;
      height: 100%;

    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    #loader-wrapper {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    }

    #loader-wrapper .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    width:300px;
    height:150px;
    }

    #loader-wrapper .loader h2 {

    font-size: 30px;
    font-family: Kalameh-Black;
    color: #fff;


    }


    @-webkit-keyframes spin {
    0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    }

    @keyframes spin {
    0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    }

    #loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background-image: linear-gradient(#258c93,#1D3C4E);
    width:51%;
    height:100%;
    z-index:1000;
    }

    #loader-wrapper .loader-section.section-left {
    left:0
    }

    #loader-wrapper .loader-section.section-right {
    right:0;
    }

    .loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }

    .loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
    }

    .loaded #loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 0.3s 1s ease-out;
    }

  </style>


</head>

<body>

  

  <div class="container-student-panel container-panel-report-card">

    <div class="panel-overlay hide-for-desktop">

     <nav class="panel-overlay-menu">

      <img src="../../images/ICDRN-Navbar-Logo.png" alt="" class="logo">

      <div class="panel-menu-item active">
    
        <img src="../../images/Panel-Home-Icon.svg" alt="">


        <a href="/dashboard">
  
  
          پیشخوان
        
        </a>

      </div>

  

      <div class="panel-menu-item">

        <img src="../../images/Panel-Classes-Icon.svg" alt="">


        <a href="/panel/class-list">
  
  
          لیست کلاس ها
        
        </a>

      </div>


      <div class="panel-menu-item">

        <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">


        <a href="/panel/class-registration">
  
  
          کلاس جدید
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">


        <a href="/panel/placement-test-history">
  
  
          تعیین سطح ها
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-edit-profile-icon.svg" alt="">


        <a href="/panel/profile-edit">
  
  
          ویرایش اطلاعات
        </a>

      </div>

      <div class="panel-exit-box">
    
        <img src="../../images/Panel-Exit.svg" alt="">
  
      </div>

     </nav>

    </div>

    <div class="navbar student-ct">

      <div class="navbar-search">

        <div class="searchbox">

          <div class="search-input-box">
            <input type="text" class="search-input" placeholder="بین کلاس ها جستجو کن">
            <button class="search-btn" type="submit">
              جستجو
            </button> 
          </div>
        </div>

      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

         <div class="status-icons">

          <div class="bells">
    
            <a href="/"> <img src="../../images/Panel-home.svg" 
              alt=""></a>

            <!-- <div class="bells-dropdown">
              <h3>
                <span>|</span>
                  پیام های سیستمی آیلتس کلاب
              </h3>
              <div class="email-list">
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    فراموزشی رمز عبور
                  </span>

                  روی لینک زیر کلیک کنید...!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    تخفیف ویژه مهاجرت
                  </span>

                  اطلاعات بیشتر مطالعه...

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    در دوران کرونا آنلاین بیاموزید
                  </span>

                 به راحتی آب..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    شبکه های اجتماعی ما
                  </span>

                 در کنار هم پیشرفت..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    صورت حساب دوره جدید 
                  </span>

                 تجربه ای کاملا امن.!

                </p>
              </div>
             </div> -->
    
          </div>
    
          <div class="message">
    
            <img src="../../images/Panel-Messsage.svg" 
            alt="">

         <div class="message-dropdown">
              <h3>
                <span>|</span>
                  لیست ایمیل های شما
              </h3>
              <!-- <div class="email-list">
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    فراموزشی رمز عبور
                  </span>

                  روی لینک زیر کلیک کنید...!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    تخفیف ویژه مهاجرت
                  </span>

                  اطلاعات بیشتر مطالعه...

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    در دوران کرونا آنلاین بیاموزید
                  </span>

                 به راحتی آب..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    شبکه های اجتماعی ما
                  </span>

                 در کنار هم پیشرفت..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    صورت حساب دوره جدید 
                  </span>

                 تجربه ای کاملا امن.!

                </p>
              </div> -->
             </div>  
    
          </div>
    
          <div class="profile">
    
            <img src="../../images/Panel-Profile.svg" alt="">
    

            <div class="profile-dropdown">
             <h3>
               <span>|</span>
             </h3>
             <form action="/logout" method="GET">
              <div class="exit-btn">
               <input type="image" src="../../images/Logout-Icon.svg" width="40px"/>
              <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
              </div></form>
            </div>

          </div>

    

         </div>

          <div class="panel-humburger hide-for-desktop">
    
            <img src="../../images/Panel-Burger.svg" alt="">
    
          </div>
          
    
        </div>

      </div>

    </div>

    <div class="main student-ct">

      <div class="common-report-cards">

        <div class="report-cards-title">
          <h2>
            <span>
              |
            </span>
            کارنامه های عادی
          </h2>
          <button type="submit" class="icdrn-btn" id="startPlacementTestBtn">
       
            اعتراض

            <span>+</span>

          </button>
        </div>

        <div class="report-cards-table-box">

          <table class="common-report-cards">

            <tr>
              <th>کلاس</th>
              <th>استاد دوره</th>
              <th>Class Attendance</th>
              <th>Class Activity</th>
              <th>Midterm</th>
              <th>Final Written</th>
              <th>Final Oral</th>
              <th>Overal</th>
            </tr>

        
            <tr id="notFoundCommonReportCard">

              <td colspan="8">
                فعلا کارنامه ای برای نمایش وجود نداره :(
                </td>
            </tr>

          </table>


        </div>

      </div>

      <div class="mock-report-cards">

        <div class="report-cards-title">
          <h2>
            <span>
              |
            </span>
            کارنامه های ماک
          </h2>
          <button type="submit" class="icdrn-btn" id="startPlacementTestBtn">
       
            اعتراض

            <span>+</span>

          </button>
        </div>

        <div class="report-cards-table-box">

          <table class="common-report-cards">

            <tr>
              <th>کلاس</th>
              <th>استاد دوره</th>
              <th>Listening</th>
              <th>Reading</th>
              <th>Writing</th>
              <th>Speaking</th>
              <th>Overal</th>
            </tr>

            <tr id="notFoundMockReportCard">

              <td colspan="8">
                فعلا کارنامه ای برای نمایش وجود نداره :(
                </td>
            </tr>
  
            

          </table>


        </div>

      </div>

    </div>

    <div class="side-menu hide-for-phone">

        <nav class="panel-menu-list">
    
          <div class="panel-logo">
    
            <img src="../../images/ICDRN-Navbar-Logo.png" alt="">
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Home-Icon.svg" alt="">
    
    
            <a href="/dashboard">
      
      
              پیشخوان
            
            </a>
    
          </div>
    
      
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Classes-Icon.svg" alt="">
    
    
            <a href="/panel/class-list">
      
      
              لیست کلاس ها
            
            </a>
    
          </div>
    
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">
    
    
            <a href="/panel/class-registration">
      
      
              کلاس جدید
            
            </a>
    
          </div>

          <div class="panel-menu-item active">
    
            <img src="../../images/Panel-report-card-icon.svg" alt="">
    
    
            <a href="/panel/class-registration" style="display:flex; align-items: center;">
      
      
              کارنامه ها 

              <span class="new-feature">
                جدید!
              </span>
            
            </a>
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">
    
    
            <a href="/panel/placement-test-history">
      
      
              تعیین سطح ها
            
            </a>
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-edit-profile-icon.svg" alt="">
    
    
            <a href="/panel/profile-edit">
      
      
              ویرایش اطلاعات
            
            </a>
    
          </div>
    
        </nav>
    
        <div class="panel-exit-box">
    
          <img src="../../images/Panel-Exit.svg" alt="">
    
        </div>
    

    </div>

  </div>


  

  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left">
  
    </div>
    <div class="loader-section section-right"></div>
    <div class="loader">
      <img src="../images/loading.svg" alt="">
      <h2>سایت در حال بارگذاریه!</h2>
    </div>
  </div>
  
  <script src="app/js/PanelMenuToggle.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/placementTestModal.js"></script>
    <script src="app/js/mockQuizModal.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
  
  
    <script>
  
      //For Live Projects
          window.addEventListener('load',function(){
            document.querySelector('body').classList.add("loaded")  
          });
      
      
        </script>
 
</body>
</html>