<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GRE course | IELTS Club</title>
  <link rel="icon" type="image/png" sizes="94x94" href="/en/images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="/en/images/Favicon/manifest.json">
  <link rel="stylesheet" href="/en/dist/css/main.min.css">
  <link rel="stylesheet" href="/en/dist/css/loader.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>


  <section class="welcome-label">
    <h4>Hi, Welcom to IELTS Club Website!</h4>
    <a href="https://guide.ieltsdrn.com/english.html"><button class="icdrn-btn" type="submit"> Website Guid</button></a>
</section>
 
<header class="header container">
  <div class="overlay flex flex-jc-c flex-ai-c hide-for-desktop">
     <ul class="overlay-menu">
        <li class="overlay-menu-item bounceInLeft"> <a href="/en">Home</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/courses">Online Classes</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/blog">Learning Videos</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/about">About us</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/contact">Contact us</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/privacy-policy">Privacy Policy</a></li>
        <% if(authed==true){ %>
          <% if(isTeacher==true) {%> 
            <a href="/en/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">
              user panel 
              </button>
              </a>
            <% }else{ %>

              <a href="/en/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">
                user panel 
                </button>
                </a>
              <%} %> 
          <% }else{ %>  
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/register"> <button class="nav-cta-btn icdrn-btn " type="submit"> 
          Register  </button> </a></li>

            <li class="overlay-menu-item bounceInLeft"> <a href="/en/login"> 
              Login  </a></li>
              <% } %> 
     </ul>
  </div>
  <nav class="header-nav flex flex-jc-sb flex-ai-c">
     <a href="#" class="nav-logo"> <img src="/en/images/ICDRN-Navbar-Logo.svg" alt="IELTS-DRN-Logo"> </a>
     <ul class="nav-menu-links hide-for-phone">
        <li class="nav-menu-links-item"><a href="/en">Home</a></li>
        <li class="nav-menu-links-item"><a href="/en/courses">Online Classes</a></li>
        <li class="nav-menu-links-item"><a href="/en/blog">Learning Videos</a></li>
        <li class="nav-menu-links-item"><a href="/en/about">About us</a></li>
        <li class="nav-menu-links-item"><a href="/en/contact">Contact us</a></li>
        <li class="nav-menu-links-item"><a href="/en/privacy-policy">Privacy Policy</a></li>
     </ul>
     <div class="language-switcher-box hide-for-phone">
        <div class="language-dropdown">
           <div class="default-language"> <img src="/en/images/united-kingdom-flag.svg" alt=""> <i class="fas fa-chevron-down"></i></div>
           <ul>
              <a href="/en/courses/gre-course">
                <li> <img src="/en/images/united-kingdom-flag.svg" alt=""> <span>English</span></li>
              </a>
              <a href="/courses/gre-course">
                <li> <img src="/en/images/Iran-flag.svg" alt=""> <span>Persian</span></li>
              </a>
           </ul>
        </div>
     </div>
     <a href="#" class="nav-mobile-menu hide-for-desktop" id="humburgerBtn"> <span></span> <span></span> <span></span> </a>
     <% if(authed==true){ %>
      <% if(isTeacher==true) {%> 
        <a href="/en/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">
          user panel 
          </button>
          </a>
        <% }else{ %>

          <a href="/en/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">
            user panel 
            </button>
            </a>
          <%} %> 

     <% }else{ %> 
     <div class="nav-action">

      <a class="login-link hide-for-phone" href="/en/login">Login
      </a>
      
      <a href="/en/register"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">
      Register
      </button>
      </a>
      </div>
      <% } %> 
      
  </nav>
</header>
  <section class="online-gre-class container">

    <div class="gre-class-into-grid">

      <div class="gre-class-detail">

        <h2>
          GRE <span>
            online
          </span> course
        </h2>

        <p>
          This is another international certificate. The exam for GRE contains 3 sections:
          Quantitative reasoning, verbal reasoning, analytical writing.
          The classes for GRE are held privately because of the number of applicants. These classes last 3-6 months depending on your language proficiency.
        </p>

        <div class="course-btn-box">
          <button type="submit">
            <a href="/en/login"> Sign up now!</a>
          </button>
        </div>

      </div>



      <div class="gre-class-pic">

        <img src="/en/images/Gre-page-pic.png" alt="">

      </div>

    </div>


    <div class="student-status container">

      <div class="icdrn-title">

        <h2>
          It is 
          <span>time</span> to decide
        </h2>
    
      </div>

      <div class="student-status-grid">

        <div class="start-placement">

          <img src="/en/images/Placement-Q!uiz.svg" alt="">
          <h3>Haven't you had 
            
            <span>
              placement
            </span>

            test?</h3>
          <p>
            Participation in all Online classes of IELTS Club requires a careful analysis of  your English proficiency
          </p>
          <button type="submit" class="icdrn-btn">
            <a href="/en/panel/placement-test-history">Start placement test!</a>
          </button>

        </div>

        <div class="start-register">

          <img src="/en/images/class-registration-pic.svg" alt="">
          <h3>Haven't you 
            <span>
              sign up
            </span>
            for classes?</h3>
          <p>
            After you know your proficiency level in English, it is time to go for classes
          </p>
          <button type="submit" class="icdrn-btn">
            <a href="/en/panel/class-registration"> Sign up for Class!</a>
          </button>

        </div>

      </div>

    </div>
      


  </section>
  
  <footer class="footer">

    <div class="footer-grid">
  
      <div class="footer-about">
  
        <h4>
   
           About our complex  
  
        </h4>
        <p>
          IELTS Club Dr.N is here to simply tell you there is no obstacle for acquiring a new language even with any geographical distance. Do remember you don’t need to have any background in English language , so it is the right time and the right place to start from all around the globe.
        </p>
  
      </div>
  
      <div class="footer-fast-access-menu" style="color:#fff;">
      <h4>
        Quick Access
      </h4>
      <ul style="color:#fff;">
        <li>
          <a href="/en/courses"style="color:#fff;">Online Classes</a>
        </li>
        <li>
          <a href="/en/contact"style="color:#fff;">Quick Conatct</a>
        </li>
        <li>
          <a href="/en/privacy-policy"style="color:#fff;">Privacy Policy</a>
        </li>
        <li>
          <a href="/en/about"style="color:#fff;">Complex Team</a>
        </li>
        <li>
          <a href="/en/contact"style="color:#fff;">Support Center</a>
        </li>
      </ul>
    </div>
  
      <div class="footer-newsletter">
       <h4>
        electronic trust symbol
      </h4>

      <!-- <div class="newsletter-box">
        <input type="text" class="newsletter-input">
        <button type="submit" class="newsletter-btn">ارسال</button>
      </div> -->


      <div class="newsletter-box">
       <div class="enamad-inner">  <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=197785&amp;Code=wDFI7TujPaDzb0CU6EzI"><img referrerpolicy="origin" src="/images/star1.png"></a></div>

        
      </div>
  
  
  
      </div>
  
    </div>
  
  </footer>
  
  
  <section class="codecamp-label">
    <h4> 2020 Ielts Club Dr.N. All Rights Reserved.</h4>
  </section>


<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left">

  </div>
  <div class="loader-section section-right"></div>
  <div class="loader">
    <img src="/en/images/loading.svg" alt="">
    <h2>Website is loading...!</h2>
  </div>
</div>

  <script src="/en/app/js/app.js"></script>

  <script>

    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });
    
        //language Swticher

        let getDefaultLanguage = document.querySelector('.default-language')
        let getLanguageDropdown = document.querySelector('.language-dropdown ul')


      getDefaultLanguage.addEventListener('click', () => {
        
        getLanguageDropdown.classList.toggle('active');

      })
      </script>

</body>
</html>