<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پنل اساتید | پیشخوان</title>
  <link rel="icon" type="image/png" sizes="94x94" href="../../images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="../../images/Favicon/manifest.json">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <style>


    .swiper-container {
   width: 100%;
   height: 100%;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }

#loader-wrapper {
position:fixed;
display: flex;
justify-content: center;
align-items: center;
top:0;
left:0;
width:100%;
height:100%;
z-index:1000;
}

#loader-wrapper .loader {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 10001;
width:300px;
height:150px;
}

#loader-wrapper .loader h2 {

font-size: 30px;
font-family: Kalameh-Black;
color: #fff;


}


@-webkit-keyframes spin {
0%   {
 -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
       transform: rotate(0deg);
}
100% {
 -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
       transform: rotate(360deg);
}
}
@keyframes spin {
0%   {
 -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
       transform: rotate(0deg);
}
100% {
 -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
       transform: rotate(360deg);
}
}

#loader-wrapper .loader-section {
position:fixed;
top:0;
background-image: linear-gradient(#258c93,#1D3C4E);
width:51%;
height:100%;
z-index:1000;
}

#loader-wrapper .loader-section.section-left {
left:0
}
#loader-wrapper .loader-section.section-right {
right:0;
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
transform: translateX(-100%);
transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
transform: translateX(100%);
transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader {
opacity: 0;
transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
visibility: hidden;
transform:translateY(-100%);
transition: all 0.3s 1s ease-out;
}

</style>




</head>
<body>

  
  <div class="container-panel   container-teacher-panel-edit-quiz">

    <div class="panel-overlay hide-for-desktop">

     <nav class="panel-overlay-menu">

      <a href="/"><img src="../../images/ICDRN-Navbar-Logo.png" alt="" class="logo"></a>

      <div class="panel-menu-item active">
    
        <img src="../../images/Panel-Home-Icon.svg" alt="">


        <a href="/teachers/dashboard">
  
  
          پیشخوان
        
        </a>

      </div>

  

      <div class="panel-menu-item">

        <img src="../../images/Panel-Classes-Icon.svg" alt="">


        <a href="/teachers/class-list">
  
  
          کلاس های من
        
        </a>

      </div>


      <div class="panel-menu-item">

        <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">


        <a href="/teachers/add-class">
  
  
          اضافه کردن کلاس
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">


        <a href="/teachers/placement-test-list">
  
  
          تاریخچه تعیین سطح
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-Students-list.svg" alt="" style="width: 30px;">


        <a href="/teachers/student-list">
  
  
          لیست دانشحویان
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-edit-profile-icon.svg" alt="">


        <a href="/teachers/edit-profile">
  
  
          ویرایش اطلاعات
        
        </a>

      </div>

      <div class="panel-exit-box">

        <img src="../../images/Teachers-Illustration.svg" alt="">
  
      </div>

     </nav>

    </div>

    <div class="navbar">

      <div class="navbar-search">

        <div class="searchbox">

          <form method="POST" action="/teachers/users">
            <div class="search-input-box">
              <input type="text" class="search-input" placeholder="جستجو بین کاربران" name="name">
              <!-- <i class="fas fa-search"></i> -->
              <button class="search-btn" type="submit">
                جستجو
              </button>
            </div>
          </form> 
        </div>

      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

         <div class="status-icons">

          <div class="bells">
    
            <a href="/"> <img src="../../images/Panel-home.svg" 
              alt=""></a>

    
          </div>
    
          <div class="message">
    
            <img src="../../images/Panel-Messsage.svg" 
            alt="">

            <div class="message-dropdown">
              <h3>
                <span>|</span>
                  لیست ایمیل های شما
              </h3>
  
              
             </div>
    
          </div>
    
          <div class="profile">
    
            <img src="../../images/Panel-Profile.svg" alt="">
    

            <div class="profile-dropdown">
             <h3>
               <span>|</span>
                میلاد عزیز خوش اومدی :)
             </h3>
             <form action="/logout" method="GET">
              <div class="exit-btn">
               <input type="image" src="../../images/Logout-Icon.svg" width="40px"/>
              <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
              </div></form>
            </div>

          </div>

    

         </div>

          <div class="panel-humburger hide-for-desktop">
    
            <img src="../../images/Panel-Burger.svg" alt="">
    
          </div>
          
    
        </div>

      </div>

    </div>

    <div class="main">

      <div class="quiz-edit">

         <div class="quiz-edit-title">
            <h2>
               <span>
               |
               </span>
               مدیریت آزمون 
            </h2>
         </div>

         <div class="quiz-edit-grid">

            <div class="quiz-edit-form">

               <div class="quiz-edit-actions" style="margin-top:10px">
                  <button type="button" class="icdrn-btn hide-for-phone" id="editInstructorBtn">
                     ویرایش اطلاعات کلی
                     </button>
                     <button type="button" class="icdrn-btn hide-for-phone " id="editTimeBtn">
                     حدف آزمون
                     </button>

                  <div class="row hide-for-desktop">
                     <button type="button" class="icdrn-btn" id="editInstructorBtn">
                        ویرایش مدرس
                        </button>
                        <button type="button" class="icdrn-btn">
                        تغییر زمان کلاس
                        </button>
                  </div>
                  <button type="button" class="icdrn-btn add-students" id="addStudentsBtn">
                  ویرایش سوالات
                  </button>
               </div>

               <div class="quiz-edit-table-box">
                  <table>
                     <tr>
                        <th>نام دانشجو</th>
                        <th>آدرس ایمیل</th>
                        <th>عملیات</th>
                     </tr>
                     <tr>
                        <td>میلاد محمدی</td>
                        <td>Milad@gmail.com</td>
                        <td>
                           <button type="button" class="icdrn-btn">
                           نتایج دانشجو
                           </button>
                        </td>
                     </tr>
                 


                  </table>
               </div>

            </div>

            <div class="quiz-edit-pic">
               <img src="../../images/edit-quiz-illustration.svg" alt="">
            </div>

         </div>

      </div>

   </div>

    <div class="side-menu hide-for-phone">

        <nav class="panel-menu-list">
    
          <div class="panel-logo">
    
            <a href="/"><img src="../../images/ICDRN-Navbar-Logo.png" alt="" ></a>
          </div>
    
          <div class="panel-menu-item active">
    
            <img src="../../images/Panel-Home-Icon.svg" alt="">
    
    
            <a href="/teachers/dashboard">
      
      
              پیشخوان
            
            </a>
    
          </div>
    
      
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Classes-Icon.svg" alt="">
    
    
            <a href="/teachers/class-list">
      
      
              کلاس های من
            
            </a>
    
          </div>
    
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">
    
    
            <a href="/teachers/add-class">
      
      
              اضافه کردن کلاس
            
            </a>
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">
    
    
            <a href="/teachers/placement-test-list">
      
      
              تعیین سطح ها
            
            </a>
    
          </div>

          
          <div class="panel-menu-item">

            <img class="panel-menu-item-students" src="../../images/Panel-Students-list.svg" alt="">


            <a href="/teachers/student-list">
      
      
              لیست دانشحویان
            
            </a>

          </div>
        
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-edit-profile-icon.svg" alt="">
    
    
            <a href="/teachers/edit-profile">
      
      
              ویرایش اطلاعات
            
            </a>
    
          </div>
    
        </nav>
    
        <div class="panel-exit-box">
    
           <img src="../../images/Teachers-Illustration.svg" alt="">
    
        </div>
    

    </div>

  </div>


  <section class="icdrn-modal" id="timeOutQuizModal">
    <div class="icdrn-modal-content">

      <span class="modal-close" id="modal-closeB" class="studentNoQuizModalClose">
        &times;
      </span>

      <img src="../../images/warning-illustration.svg" class="modal-img" alt="">



      <h3 style="font-size:30px;margin-top:-10px">
       مطمئن هستی برای حدف ؟!
      </h3>


      <div class="btn-row" style="display: flex; justify-content: center;">

        <button type="button" class="icdrn-btn studentNoQuizModalClose" id="checkAgain"  onclick="window.Location.href='/panel/class-list'" style="margin-top:-7px">
          بله، کاملا
        </button>
  
        
        <button type="button" class="icdrn-btn studentNoQuizModalClose" id="checkAgain"  onclick="window.Location.href='/panel/class-list'" style="margin-top:-7px">
          انصراف
        </button>

      </div>

    </div>
  </section>


  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left">
  
    </div>
    <div class="loader-section section-right"></div>
    <div class="loader">
      <img src="../images/loading.svg" alt="">
      <h2>سایت در حال بارگذاریه!</h2>
    </div>
  </div>
  
  
    <script src="app/js/app.js"></script>
    <script src="app/js/placementTestModal.js"></script>
    <script src="app/js/mockQuizModal.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
  
  
    <script>
  
      //For Live Projects
          window.addEventListener('load',function(){
            document.querySelector('body').classList.add("loaded")  
          });
      
      
        </script>
  <script src="../../app/js/app.js"></script>
  <script src="../../app/js/PanelMenuToggle.js"></script>

</body>
</html>