<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>آیلتس کلاب | آزمون تعیین سطح</title>
    <link rel="stylesheet" href="/en/dist/css/main.min.css" />
    <style>
      .right {
        color: green;
      }

      .wrong {
        color: red;
      }
  
      button:disabled {
        background-color: #bbb !important;
        color: #777 !important;
      }
    </style>

<!--BEGIN RAYCHAT CODE--> 
<script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o+"?href="+window.location.href;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="50b0f0b4-8bbe-472d-94a5-ecbbaac0b985";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script> 
<!--END RAYCHAT CODE-->


  </head>
  <body>
    <main class="quiz-container">
      <div class="quiz-start-box">
       <div class="start-inner">
        <div class="quiz-header">
          <h3>IELTS Dr.N Placement Test</h3>
          <span>50:00</span>
        </div>

        <div class="quiz-content">
          <p>
            <span
              >Welcome to fully mechanical online placement test of IELTS club
              complex.</span
            >

            You can assess your English proficiency within a short span of time
            and get prepared for your classes. It takes you 50 minutes to answer
            all questions. Therefore, you need to manage your time within this
            limited length of time. With the best wishes,
          </p>
        </div>

        <div class="quiz-footer">
          <button class="exit-quiz icdrn-btn" type="submit">Exit Quiz!</button>
          <button id="start" class="icdrn-btn" type="submit">Start Quiz</button>
        </div>
       </div>
      </div>

      <div class="quiz-box">
        <div class="quiz-header">
          <h3>English Placement Test</h3>
          <span id="time"></span>
        </div>

        <div class="quiz-content">
          <h3 class="question"></h3>
          <form id="answers-container"></form>
        </div>

        <div class="quiz-footer">
          <span class="location"></span>
          <button id="submit" class="icdrn-btn" type="submit">Submit</button>
          <button
            id="next"
            class="icdrn-btn"
            style="display: none;"
            type="submit"
          >
            Next Question
          </button>
        </div>
      </div>
    </main>

    <section class="icdrn-modal" id="placementTimeOut">
      <div class="icdrn-modal-content">
  
        <span class="modal-close">
          &times;
        </span>
  
        <img src="/en/images/Quiz-TimeOut-pic.svg" class="modal-img" alt="">
  
  
  
        <h3>
         زمانت تموم شد رفیق!
        </h3>
  
        <p>
          وقت تموم شد
        </p>

        <p>
          <span class="res-label">تعداد سوالات صحیح:</span>
          <span id="correctAnswerLabelT"></span>
        </p>

        <p>
          <span class="res-label">سطح شما:</span>
          <span id="levelLabelT"></span>
        </p>

  
        <button type="submit" class="icdrn-btn" id="checkAgain">
          <a href="/panel/class-registration">
          آمادگی برای دوره ها
        </a>
        </button>
  
      </div>
    </section>

    <section class="icdrn-modal" id="placementResult">
      <div class="icdrn-modal-content">
  
        <span class="modal-close">
          &times;
        </span>
  
        <img src="/en/images/Quiz-Done-pic.svg" class="modal-img" alt="">
  
  
  
        <h3>
         نتیجه تعیین سطحت آمادست :)
        </h3>
  
        <p>
          <span class="res-label">تعداد سوالات صحیح:</span>
          <span id="correctAnswerLabel"></span>
        </p>

        <p>
          <span class="res-label">سطح شما:</span>
          <span id="levelLabel"></span>
        </p>

  
        <button type="submit" class="icdrn-btn" id="checkAgain">
          <a href="/panel/class-registration">
          آمادگی برای دوره ها
        </a>
        </button>
  
      </div>
    </section>

    <script src="/en/app/js/question.js"></script>
    <script src="/en/app/js/Icdrn-Quiz.js"></script>

    
  </body>
</html>
