<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>آیلتس کلاب | قوانین و مقررات</title>
  <link rel="icon" type="image/png" sizes="94x94" href="/en/images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="/en/images/Favicon/manifest.json">
  <link rel="stylesheet" href="/en/dist/css/main.min.css">
  <link rel="stylesheet" href="/en/dist/css/loader.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!--BEGIN RAYCHAT CODE--> 
<script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o+"?href="+window.location.href;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="50b0f0b4-8bbe-472d-94a5-ecbbaac0b985";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script> 
<!--END RAYCHAT CODE-->

</head>
<body>


  <section class="welcome-label">
    <h4>Hi, Welcom to IELTS Club Website!</h4>
    <a href="https://guide.IELTSdrn.com/english.html"><button class="icdrn-btn" type="submit"> Website Guid</button></a>
 </section>

 <header class="header container">
  <div class="overlay flex flex-jc-c flex-ai-c hide-for-desktop">
     <ul class="overlay-menu">
        <li class="overlay-menu-item bounceInLeft"> <a href="/en">Home</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/courses">Online Classes</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/blog">Learning Videos</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/about">About us</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/contact">Contact us</a></li>
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/privacy-policy">Privacy Policy</a></li>
        <% if(authed==true){ %>
          <% if(isTeacher==true) {%> 
            <a href="/en/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">
              user panel 
              </button>
              </a>
            <% }else{ %>

              <a href="/en/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">
                user panel 
                </button>
                </a>
              <%} %> 
          <% }else{ %>  
        <li class="overlay-menu-item bounceInLeft"> <a href="/en/register"> <button class="nav-cta-btn icdrn-btn " type="submit"> 
          Register  </button> </a></li>

            <li class="overlay-menu-item bounceInLeft"> <a href="/en/login"> 
              Login  </a></li>
              <% } %> 
     </ul>
  </div>
  <nav class="header-nav flex flex-jc-sb flex-ai-c">
     <a href="#" class="nav-logo"> <img src="/en/images/ICDRN-Navbar-Logo.svg" alt="IELTS-DRN-Logo"> </a>
     <ul class="nav-menu-links hide-for-phone">
        <li class="nav-menu-links-item"><a href="/en">Home</a></li>
        <li class="nav-menu-links-item"><a href="/en/courses">Online Classes</a></li>
        <li class="nav-menu-links-item"><a href="/en/blog">Learning Videos</a></li>
        <li class="nav-menu-links-item"><a href="/en/about">About us</a></li>
        <li class="nav-menu-links-item"><a href="/en/contact">Contact us</a></li>
        <li class="nav-menu-links-item"><a href="/en/privacy-policy">Privacy Policy</a></li>
     </ul>
     <div class="language-switcher-box hide-for-phone">
        <div class="language-dropdown">
           <div class="default-language"> <img src="/en/images/united-kingdom-flag.svg" alt=""> <i class="fas fa-chevron-down"></i></div>
           <ul>
              <a href="/en/privacy-policy">
                <li> <img src="/en/images/united-kingdom-flag.svg" alt=""> <span>English</span></li>
              </a>
              <a href="/privacy-policy">
                <li> <img src="/en/images/Iran-flag.svg" alt=""> <span>Persian</span></li>
              </a>
           </ul>
        </div>
     </div>
     <a href="#" class="nav-mobile-menu hide-for-desktop" id="humburgerBtn"> <span></span> <span></span> <span></span> </a>
     <% if(authed==true){ %>
      <% if(isTeacher==true) {%> 
        <a href="/en/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">
          user panel 
          </button>
          </a>
        <% }else{ %>

          <a href="/en/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">
            user panel 
            </button>
            </a>
          <%} %> 

     <% }else{ %> 
     <div class="nav-action">

      <a class="login-link hide-for-phone" href="/en/login">Login
      </a>
      
      <a href="/en/register"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">
      Register
      </button>
      </a>
      </div>
      <% } %> 
      
  </nav>
</header>




  <section class="privacy container">

    <div class="icdrn-title">
      <h2>
        Privacy and 
        <span>
          policy
        </span>
      </h2>
    </div>

    <p>
      Using all services provided by IELTS club academy and buying any training package or parricipating in classses means you have accePTEd all rules.

      <br>
      <br>

      Make sure you have completed the registration form and your personal information accurately since they are used as your own personal data.

      <br>
      <br>

      All files and services bought from IELTS club belong to one person who has purchased them and using them by the third party is illegal.

      <br>
      <br>

      All the registered names and icons used by IELTS club is illegal to be used by other centers.

      <br>
      <br>

      Please pay attention to keep your personal data safe.
      And IELTS club complex is responsible for it to keep your privacy secure.

      <br>
      <br>

      Buying all training packages from IELTS club means you request service from your own side and giving back the money is not possible after you buy them so make sure before u buy.


      <br>
      <br>

      Entering the online classes has been described in an article in details. Please read all the instruction of entering the classes before u want to participate in class.

      <br>
      <br>

      Before you sign up for any online class , your registration depends on your English level and you are assessed in an automatic/ mechanic platform in IELTS club. You can do the mechanic assessment in the placement section of IELTS club main page.

      <br>
      <br>

      After you know your English proficiency , you can sign up for the first online class which is completely a smart system and it is possible from your own panel.
      After you complete all procedures, the smart platform will give you the price and the type of your online class and it may vary depending on the type of class and the teacher you sign up for. 

      <br>
      <br>

      After you know the price of each level, you can pay through online payment service and finalize your registration procedure.
      Our team will deal with all your information and registration procedure and inform you of your situation in classes in every part of the world.

      <br>
      <br>

    <span class="our-honor">

      We are proud of being the host for English learners from different corners of the world and those who respect all the rules mentioned above.

    </span>

    </p>

  </section>

  <footer class="footer">

    <div class="footer-grid">
  
      <div class="footer-about">
  
        <h4>
   
           About our complex  
  
        </h4>
        <p>
          IELTS Club Dr.N is here to simply tell you there is no obstacle for acquiring a new language even with any geographical distance. Do remember you don’t need to have any background in English language , so it is the right time and the right place to start from all around the globe.
        </p>
  
      </div>
  
      <div class="footer-fast-access-menu">
        <h4>
          Quick Access
        </h4>
        <ul>
          <li>
            <a href="/en/courses"style="color:#fff;">Online Classes</a>
          </li>
          <li>
            <a href="/en/contact"style="color:#fff;">Quick Conatct</a>
          </li>
          <li>
            <a href="/en/privacy-policy"style="color:#fff;">Privacy Policy</a>
          </li>
          <li>
            <a href="/en/about"style="color:#fff;">Complex Team</a>
          </li>
          <li>
            <a href="/en/contact"style="color:#fff;">Support Center</a>
          </li>
        </ul>
      </div>
  
      <div class="footer-newsletter">
        <h4>
        electronic trust symbol
      </h4>

      <!-- <div class="newsletter-box">
        <input type="text" class="newsletter-input">
        <button type="submit" class="newsletter-btn">ارسال</button>
      </div> -->


      <div class="newsletter-box">
       <div class="enamad-inner">  <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=197785&amp;Code=wDFI7TujPaDzb0CU6EzI"><img referrerpolicy="origin" src="/images/star1.png"></a></div>

        
      </div>
  
  
  
      </div>
  
    </div>
  
  </footer>
  
  
  <section class="codecamp-label">
    <h4> 2020 IELTS Club Dr.N. All Rights Reserved.</h4>
  </section>


  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left">

    </div>
    <div class="loader-section section-right"></div>
    <div class="loader">
      <img src="/en/images/loading.svg" alt="">
      <h2>WebSite is Loading...!</h2>
    </div>
  </div>

  <script src="/en/app/js/app.js"></script>

  <script>

    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });


        //language Swticher

        let getDefaultLanguage = document.querySelector('.default-language')
        let getLanguageDropdown = document.querySelector('.language-dropdown ul')


      getDefaultLanguage.addEventListener('click', () => {
        
        getLanguageDropdown.classList.toggle('active');

      })
    
      </script>

</body>
</html>