<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>آیلتس کلاب | خانه</title>
  <link rel="icon" type="image/png" sizes="94x94" href="images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="images/Favicon/manifest.json">
  <link rel="stylesheet" href="dist/css/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <style>

#loader-wrapper {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    }

    #loader-wrapper .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    width:300px;
    height:150px;
    }

    
    #loader-wrapper .loader .loader-animation{
  
      width: 24px;
      height: 80px;
      display: block;
      margin: 35px auto 0;
      border: 1px solid #FFF;
      border-radius: 0 0 50px 50px;
      position: relative;
      box-shadow: 0px 0px #E0A75D inset;
      background-image: linear-gradient(#E0A75D 100px, transparent 0);
      background-position: 0px 0px;
      background-size: 22px 80px;
      background-repeat: no-repeat;
      box-sizing: border-box;
      animation: animloader 6s linear infinite;

      
    }

    #loader-wrapper .loader .loader-animation::after {
  content: '';  
  box-sizing: border-box;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid #FFF;
  border-radius: 50%;
  width: 28px;
  height: 6px;
}

    #loader-wrapper .loader .loader-animation::before {
      content: '';  
      box-sizing: border-box;
      left: 0;
      bottom: -4px;
      border-radius: 50%;
      position: absolute;
      width: 6px;
      height: 6px;
      animation: animloader1 6s linear infinite;
    }

@keyframes animloader {
  0% {
    background-position: 0px 80px;
  }
  100% {
    background-position: 0px 0px;
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 4px -10px rgba(255, 255, 255, 0), 6px 0px rgba(255, 255, 255, 0), 8px -15px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0);
  }
  20% {
    box-shadow: 4px -20px rgba(255, 255, 255, 0), 8px -10px rgba(255, 255, 255, 0), 10px -30px rgba(255, 255, 255, 0.5), 15px -5px rgba(255, 255, 255, 0);
  }
  40% {
    box-shadow: 2px -40px rgba(255, 255, 255, 0.5), 8px -30px rgba(255, 255, 255, 0.4), 8px -60px rgba(255, 255, 255, 0.5), 12px -15px rgba(255, 255, 255, 0.5);
  }
  60% {
    box-shadow: 4px -60px rgba(255, 255, 255, 0.5), 6px -50px rgba(255, 255, 255, 0.4), 10px -90px rgba(255, 255, 255, 0.5), 15px -25px rgba(255, 255, 255, 0.5);
  }
  80% {
    box-shadow: 2px -80px rgba(255, 255, 255, 0.5), 4px -70px rgba(255, 255, 255, 0.4), 8px -120px rgba(255, 255, 255, 0), 12px -35px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 4px -100px rgba(255, 255, 255, 0), 8px -90px rgba(255, 255, 255, 0), 10px -120px rgba(255, 255, 255, 0), 15px -45px rgba(255, 255, 255, 0);
  }
}

    #loader-wrapper .loader h2 {

    font-size: 30px;
    font-family: Kalameh-Black;
    color: #fff;


    }


    @-webkit-keyframes spin {
    0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    }

    @keyframes spin {
    0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    }

    #loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background-image: linear-gradient(#258c93,#1D3C4E);
    width:51%;
    height:100%;
    z-index:1000;
    }

    #loader-wrapper .loader-section.section-left {
    left:0
    }

    #loader-wrapper .loader-section.section-right {
    right:0;
    }

    .loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }

    .loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
    }

    .loaded #loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 0.3s 1s ease-out;
    }



  </style>
  
  <!--BEGIN RAYCHAT CODE--> 
  <script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o+"?href="+window.location.href;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="50b0f0b4-8bbe-472d-94a5-ecbbaac0b985";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script> 
  <!--END RAYCHAT CODE-->
</head>
<body>
  <main class="home">


    <section class="welcome-label">
      <h4> سلام، به وب سایت آیلتس کلاب خوش اومدی!</h4>
      <a href="https://guide.ieltsdrn.com"><button class="icdrn-btn" type="submit"> راهنمای استفاده </button></a>
   </section>
   <header class="header container">

    <div class="overlay flex flex-jc-c flex-ai-c hide-for-desktop">

    <ul class="overlay-menu">
      <li class="overlay-menu-item bounceInLeft">
        <a href="/">خانه</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/courses">کلاس های آنلاین</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/blog">ویدئو آموزشی</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/about">درباره ما</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/contact">تماس با ما</a>
      </li>
      <li class="overlay-menu-item bounceInLeft"> <a href="/privacy-policy">قوانین و مقررات</a></li>
      <% if(authed==true){ %>
        <% if(isTeacher==true) {%> 
          <a href="/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">پنل کاربری</button>
          </a>
          <% }else{ %>
            <a href="/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">پنل کاربری</button>
            </a>
          <%} %> 
    <%  }else{ %> 
      <li class="overlay-menu-item bounceInLeft">
        <a href="/register">
          <button class="nav-cta-btn icdrn-btn " type="submit">
            ثبت نام
          </button> 
        </a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/login"> ورود
        
        </a>
        </li>
        <% } %> 
    </ul>

    </div>

    <nav class="header-nav flex flex-jc-sb flex-ai-c">
      <a href="#" class="nav-logo">
        <img src="images/ICDRN-Navbar-Logo.svg" alt="Ielts-DRN-Logo">
      </a>
    
      <ul class="nav-menu-links hide-for-phone">
        <li class="nav-menu-links-item"><a href="/">خانه</a></li>
        <li class="nav-menu-links-item"><a href="/courses">کلاس های آنلاین</a></li>
        <li class="nav-menu-links-item"><a href="/blog">ویدئو آموزشی</a></li>
        <li class="nav-menu-links-item"><a href="/about">درباره ما</a></li>
        <li class="nav-menu-links-item"><a href="/contact" >تماس با ما</a></li>
        <li class="nav-menu-links-item"><a href="/privacy-policy">قوانین و مقررات</a></li>
      </ul>
      

      <div class="language-switcher-box  hide-for-phone">

        <div class="language-dropdown">
          <div class="default-language">
            <img src="images/Iran-flag.svg" alt="ایلتس کلاب  دکتر نورزاد">
            <i class="fas fa-chevron-down"></i>
          </div>
          <ul>
            <a href="/courses"> <li> <img src="images/Iran-flag.svg" alt="ایلتس کلاب  دکتر نورزاد"> <span>فارسی</span></li></a>
                 <a href="/en/courses"><li> <img src="images/united-kingdom-flag.svg" alt="ایلتس کلاب  دکتر نورزاد"> <span>English</span></li></a> 
          </ul>
        </div>

      </div>

      <a href="#" class="nav-mobile-menu hide-for-desktop" id="humburgerBtn">
        <span class="humburger-line"></span>
        <span class="humburger-line"></span>
        <span class="humburger-line"></span>
      </a>
      <% if(authed==true){ %> 
        <% if(isTeacher==true) {%> 
          <a href="/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">پنل کاربری</button>
          </a>
          <% }else{ %>
            <a href="/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">پنل کاربری</button>
            </a>
          <%} %> 
        <% }else{ %> 
      <div class="nav-action">
        <a href="/register"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit"> ثبت نام</button>
        </a>
        <a class="login-link hide-for-phone" href="/login">ورود
        </a>
        </div>
        <% } %> 
    </nav>
  </header>

   
   <section class="courses-list container">
    <div class="courses-list-grid">
        <div class="courses-item ielts-course">
       <a href="/courses/ielts-course">

          <div class="course-inner">
           <h3>دوره آنلاین آموزشی آیلتس</h3>
           <h4>IELTS online course</h4>
          </div>
                      
        </a>
         </div>
      <div class="courses-item emigration-course">
      <a href="/courses/emigration-course">
        <div class="course-inner">
          <h3>دوره فشرده مهاجرت</h3>
          <h4>Immigration intensive course</h4>
         </div></a>
      </div>
      <div class="courses-item conversation-course">
        <a href="/courses/conversation-course">
          <div class="course-inner">
            <h3>دوره آموزش مکالمه</h3>
            <h4>Conversation course</h4>
           </div>
        </a>
      </div>
      <div class="courses-item toefl-course">
        <a href="/courses/toefl-course">
        
          <div class="course-inner">
            <h3>دوره آنلاین آموزشی تافل</h3>
          <h4>TOEFL online course</h4>
          </div>

        </a>
      </div>
      <div class="courses-item doulingo-course">
        <a href="/courses/duolingo-course">
        
          <div class="course-inner">
            <h3>کلاس آنلاین آموزشی دولینگو</h3>
          <h4>Doulingo online course</h4>
          </div>

        </a>
      </div>

      <div class="courses-item pte-course">
        <a href="/courses/pte-course">
          <div class="course-inner">
            <h3>دوره آموزش PTE</h3>
            <h4>PTE online course</h4>
           </div>
        </a>
      </div>

      <div class="courses-item gre-course">
        <a href="/courses/gre-course">
          <div class="course-inner">
            <h3>دوره آموزشی GRE</h3>
            <h4>GRE online course</h4>
           </div></a>
        </div>
        <div class="courses-item next-course">
          <a href="/contact">
            <div class="course-inner">
              <h3>کلاس آنلاین بعدی؟</h3>
              <h4 dir="ltr">what's next course ?</h4>
             </div>
          </a>
        </div>

    </div>
  </section>


<footer class="footer">

  <div class="footer-grid">

    <div class="footer-about">

      <h4>
 
         درباره مجموعه ما   

      </h4>
      <p>
        تیم آیلتس کلاب با سرپرستی دکتر پژمان نورزاد اینجاست تا به شما بگه برای یادگیری زبان هیچ مانعی سر راهتون نیست حتی موقعیت جغرافیایی! 
یادت باشه برای شروع نیاز به هیچ پیشینه ای نداری! پس همین الان از هر جای دنیا میتونی شروع کنی.
      </p>

    </div>

    <div class="footer-fast-access-menu">
      <h4>
        دسترسی سریع
      </h4>
      <ul>
        <li>
          <a href="/courses" style="color:white">کلاس های آنلاین</a>
        </li>
        <li>
          <a href="/contact" style="color:white">ارتباط سریع با مجوعه</a>
        </li>
        <li>
         <a href="/privacy-policy" style="color: white;">قوانین و مقررات</a>
        </li>
        <li>
          <a href="/about" style="color:white">تیم تخصصی مجموعه</a>
        </li>
        <li>
          <a href="/contact" style="color:white"> پشتیبانی و پیگیری</a>
        </li>
      </ul>
    </div>

    <div class="footer-newsletter">
      <h4>
        نماد اعتماد الکترونیک
      </h4>

      <!-- <div class="newsletter-box">
        <input type="text" class="newsletter-input">
        <button type="submit" class="newsletter-btn">ارسال</button>
      </div> -->


      <div class="newsletter-box">
       <div class="enamad-inner"> <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=197785&amp;Code=wDFI7TujPaDzb0CU6EzI"><img referrerpolicy="origin" src="/images/star1.png"></a></div>

        
      </div>



    </div>

  </div>

</footer>




<section class="codecamp-label">
  <h4>تمامی حقوق برای برند آیلتس کلاب دکتر نورزاد محفوظ است</h4>
</section>

</main>

<section class="placement-test-registration-modal">

  <span class="modal-close">
  &times;
</span>


<div class="icdrn-modal-grid">

<div class="modal-content">

  <h3>
    ثبت نام جهت تعین سطح
  </h3>

  <div class="modal-form">

    <input type="text" class="icdrn-input" placeholder="نام و نام خانوادگی خود را وارد کنید">

  </div>

  <div class="modal-price">

    <img src="images/Price-Icon.svg" class="price-icon" alt="ایلتس کلاب  دکتر نورزاد">


    <h3 class="modal-price-number">
      هزینه آزمون
      : 
      <ins>۲۵.۰۰۰ تومان</ins>
      رایگان
    </h3>

  </div>

  <div class="privacy-policy">

    <input type="checkbox">
    <span class="checkmark"></span>
    <label for="">
      <a href="/privacy-policy">قوانین قوانین و مقررات آیلتس کلاب را می پذیرم.</a>
    </label>

  </div>


  <button type="submit" class="icdrn-btn" id="placementRegistrationBtn">

   ثبت نام در آزمون تعیین سطح

  </button>

</div>

<div class="modal-img">
<img src="images/Placement-Q!uiz.svg" alt="ایلتس کلاب  دکتر نورزاد">
<div class="modal-img-subtitle">

 <span>

   لطفا
 </span>
  
  اطلاعات حساب کاربری خود را در پنل کاربری
  <br>
 
 به درستی وارد کنید تا در صورت برقراری کلاس ها، 
 <br>
 امکان تماس با شما دوست عزیز فراهم باشد.


</div>
</div>

</div>

</section>

<section class="icdrn-modal" id="comingSoonModal">
  <div class="icdrn-modal-content">

    <span class="modal-close">
      &times;
    </span>

    <img src="../images/Comin-soon-pic.svg" class="modal-img" alt="ایلتس کلاب  دکتر نورزاد">



    <h3>
      رفیق، این امکان بزودی اوکی میشه!
    </h3>

    <p>

      در واقع تیم مجموعه آیلتس کلاب شبانه روز
      <br>
       در حال توسعه این سیستم آنلاین هست!

    </p>

    <button type="submit" class="icdrn-btn" id="comingSoonBtn">

      گرفتم چیشد!

    </button>

  </div>
</section>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left">

  </div>
  <div class="loader-section section-right"></div>
  <div class="loader">
    <span class="loader-animation"></span>
  </div>
</div>

  <script src="app/js/app.js"></script>
  <script src="app/js/placementTestModal.js"></script>
  <script src="app/js/mockQuizModal.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>


  <script>

        //language Swticher

        let getDefaultLanguage = document.querySelector('.default-language')
          let getLanguageDropdown = document.querySelector('.language-dropdown ul')


        getDefaultLanguage.addEventListener('click', () => {
          
          getLanguageDropdown.classList.toggle('active');

        })
    


    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });
        

        
      </script>

</body>
</html>