<!DOCTYPE html>
<html lang="/en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Class | Teacher's Panel</title>
  <link rel="icon" type="image/png" sizes="94x94" href="/en/images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="/en/images/Favicon/manifest.json">
  <link rel="stylesheet" href="/en/dist/css/main.min.css">
  <link rel="stylesheet" href="/en/dist/css/loader.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  
  <div class="container-panel   container-teacher-panel-addclass">

    <div class="panel-overlay hide-for-desktop">

      <nav class="panel-overlay-menu">
 
       <img src="/en/images/ICDRN-Navbar-Logo.png" alt="" class="logo">
 
       <div class="panel-menu-item">
     
         <img src="/en/images/Panel-Home-Icon.svg" alt="">
 
 
         <a href="/en/teachers/dashboard">
   
   
           Dashboard
         
         </a>
 
       </div>
 
   
 
       <div class="panel-menu-item">
 
         <img src="/en/images/Panel-Classes-Icon.svg" alt="">
 
 
         <a href="/en/teachers/class-list">
   
   
          My Classes
         
         </a>
 
       </div>
 
 
       <div class="panel-menu-item active">
 
         <img src="/en/images/Panel-Classes-Registration-icon.svg" alt="">
 
 
         <a href="/en/teachers/add-class">
   
   
           Add Class
         
         </a>
 
       </div>
 
       <div class="panel-menu-item">
 
         <img src="/en/images/Panel-Placemennt-list-icon.svg" alt="">
 
 
         <a href="/en/teachers/placement-test-list">
   
   
           Placements History
         
         </a>
 
       </div>
 
       <div class="panel-menu-item">
 
         <img src="/en/images/Panel-edit-profile-icon.svg" alt="">
 
 
         <a href="/en/teachers/student-list">
   
   
           Students List
         
         </a>
 
       </div>
 
       <div class="panel-menu-item">
 
         <img src="/en/images/Panel-edit-profile-icon.svg" alt="">
 
 
         <a href="/en/teachers/edit-profile">
   
   
           Edit Profile
         
         </a>
 
       </div>
 
       <div class="panel-exit-box">
 
         <img src="/en/images/Teachers-Illustration.svg" alt="">
   
       </div>
 
      </nav>
 
     </div>
 
     <div class="navbar">
 
      <div class="navbar-search">

        <div class="searchbox">

          <form method="POST" action="/en/teachers/users">
            <div class="search-input-box">
              <input type="text" class="search-input" placeholder="search among users" name="name">
              <!-- <i class="fas fa-search"></i> -->
              <button class="search-btn" type="submit">
                search 
              </button>
            </div>
          </form> 
        </div>

      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

         <div class="status-icons">

          <div class="bells">
    
            <a href="/en"> <img src="../../images/Panel-home.svg" 
              alt=""></a>

            <!-- <div class="bells-dropdown">
              <h3>
                <span>|</span>
                IELTS Club system messages
              </h3>
              <div class="email-list">
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Forget Password
                  </span>

                  click on link!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Special immigration discount
                  </span>

                  More Information...

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Learn online during the Corona Epidemic!
                  </span>

                 So Easy!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Our Social Media Links
                  </span>

                 Improve Together

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    New course invoices
                  </span>

                  A completely safe experience!

                </p>
              </div>
             </div> -->
    
          </div>
    
          <div class="message">
    
            <img src="/en/images/Panel-Messsage.svg" 
            alt="">

            <div class="message-dropdown">
              <h3>
                <span>|</span>
              List of your emails           
               </h3>
               <!--   <div class="email-list">
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Forget Password
                  </span>

                  click on link!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Special immigration discount
                  </span>

                  More Information...

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Learn online during the Corona Epidemic!
                  </span>

                  So Easy!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Our Social Media Links
                  </span>

                  Improve Together

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    New course invoices
                  </span>

                  A completely safe experience!

                </p>
              </div>-->
             </div>
    
          </div>
    
          <div class="profile">
    
            <img src="/en/images/Panel-Profile.svg" alt="">
    

            <div class="profile-dropdown">
              <h3>
                <span>|</span>
                Welcome Dear <%= userName  %>! 
              </h3>
              <form action="/en/logout" method="GET">
               <div class="exit-btn">
                <input type="image" src="../../images/Logout-Icon.svg" width="40px"/>
               <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
               </div></form>
              <div class="exit-btn">
               
              </div>
             </div>

          </div>

    

         </div>

          <div class="panel-humburger hide-for-desktop">
    
            <img src="/en/images/Panel-Burger.svg" alt="">
    
          </div>
          
    
        </div>

      </div>


    </div>

    <div class="main">

      <div class="class-registration">

        <div class="class-registration-title">
          <h2>
            <span>
              |
            </span>
            Add New Class
          </h2>
        </div>

        <div class="class-registration-grid">

          <div class="class-registration-form">
            <form action="/en/teachers/add-class" method="POST">
            <div class="coursename-box">

              <label for="" class="icdrn-label">
                Couse Name
              </label>

              <div class="select">
                <select id="standard-select" name="className">
                  <option value="Ielts">
                    IELTS Online Class
                  </option>
                  <option value="Toefl">
                    Toefl Online Class
                  </option>
                  <option value="Emigration">
                    Immigration intensive course
                  </option>
                  <option value="Conversation">
                    Convesition Course
                  </option>
                  <option value="PTE">
                    PTE online course
                  </option>
                  <option value="Duolingo">
                    Doulingo online course
                  </option>
                </select>
                <span class="icon"></span>
              </div>

              
            </div>



            <div class="row">
              <div class="coursemode-box">

                <label for="" class="icdrn-label">
                  Course Type
                </label>
  
                <div class="select">
                  <select id="standard-select"  name="classType">
                    <option value="Private">Private Course</option>
                    <option value="Public">Crash Course</option>
                  </select>
                  <span class="icon"></span>
                </div>
              </div>
  
              
              <div class="courseteacher-box">
  
                <label for="" class="icdrn-label">
                  Teacher
                </label>
  
                <div class="select">
                  <select id="standard-select" name="classTeacher">
                    <option value="Noorzad">
                      Dr. Pezhman Nourzad
                    </option>
                    <option value="Bahrami">
                      Ms. Haniye Bahrami
                    </option>
                    <option value="Nouri">
                      Ms. Mina Nouri
                    </option>
                    <option value="Zolfaghari">
                      Ms. Arezoo Zolfaghari
                    </option>
                    <option value="Mohebiii">
                      Ms. Atefeh Mohebi
                    </option>
                    <option value="Jadidi">
                      Mr. Javad Jadidi
                    </option>
                    <option value="Asi">
                      Mr. Nikta Asi Shad
                    </option>
                    <option value="Fallah">
                     Mr. Mehrshad Fallah
                    </option>
                    <option value="Hadavi">
                      Ms.Maryam Hadavi
                    </option>
                  </select>
                  <span class="icon"></span>
                </div>
                
              </div>
            </div>

            <div class="row">

              <div class="courselevel-box">

                <label for="" class="icdrn-label">
                  Course Level
                </label>
  
                <div class="select">
                  <select id="standard-select"  name="classLevel">
                    <option value="Starter">Starter</option>
                    <option value="Elementary">Elementary</option>
                    <option value="Pre-Intermediate">Pre-Intermediate</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Upper-Intermediate">Upper-Intermediate</option>
                    <option value="Advance">Ielts</option>
                  </select>
                  <span class="icon"></span>
                </div>
              </div>
              
              <div class="coursedate-box">
  
                <label for="" class="icdrn-label">
                  Course Time
                </label>
  
                <input type="text" class="coursedate-input" placeholder="enter Exact Time..." name="classTime" required>
                
              </div>

            </div>

            <div class="coursestudents-box">

              <label for="" class="icdrn-label">
                Students
              </label>

              <input type="text" class="coursestudentse-input" placeholder="enter Student's Email Address and seprate them by ','" name="classStudents" required>
              
            </div>


            <div class="courseroomlink-box">

              <label for="" class="icdrn-label">
                Room Link (Lanmis Service)
              </label>

              <input type="text" class="courseroomlink-input" placeholder="enter Complete Link of this Class..." name="classLink" required>
              
            </div>

            

            <div class="course-register-btn-box">

              <button type="submit" class="icdrn-btn">
                Add Class
              </button>

            </div>
          </form>
          </div>
        
          <div class="class-registration-pic">

            <img src="/en/images/class-registration-pic.svg" alt="">

          </div>

        </div>

      </div>

    </div>


    <div class="side-menu hide-for-phone">

      <nav class="panel-menu-list">
  
        <div class="panel-logo">
  
          <img src="/en/images/ICDRN-Navbar-Logo.png" alt="">
  
        </div>
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Home-Icon.svg" alt="">
  
  
          <a href="/en/teachers/dashboard">
    
    
            Dashboard
          
          </a>
  
        </div>
  
    
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Classes-Icon.svg" alt="">
  
  
          <a href="/en/teachers/class-list">
    
    
            My Classes
          
          </a>
  
        </div>
  
  
        <div class="panel-menu-item active">
  
          <img src="/en/images/Panel-Classes-Registration-icon.svg" alt="">
  
  
          <a href="/en/teachers/add-class">
    
    
            Add Class
          
          </a>
  
        </div>
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Placemennt-list-icon.svg" alt="">
  
  
          <a href="/en/teachers/placement-test-list">
    
    
            Placements History
          
          </a>
  
        </div>

        
        <div class="panel-menu-item">

          <img class="panel-menu-item-students" src="/en/images/Panel-Students-list.svg" alt="">


          <a href="/en/teachers/student-list">
    
    
            Students List
          
          </a>

        </div>
      
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-edit-profile-icon.svg" alt="">
  
  
          <a href="/en/teachers/edit-profile">
    
    
            Edit Profile
          
          </a>
  
        </div>
  
      </nav>
  
      <div class="panel-exit-box">
  
         <img src="/en/images/Teachers-Illustration.svg" alt="">
  
      </div>
  

    </div>

  </div>

  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left">

    </div>
    <div class="loader-section section-right"></div>
    <div class="loader">
      <img src="../images/loading.svg" alt="">
      <h2>Website is loading...!</h2>
    </div>
  </div>

  <script src="/en/app/js/app.js"></script>
  <script src="/en/app/js/PanelMenuToggle.js"></script>

  <script>

    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });
    
    
      </script>

</body>
</html>