
.container-teacher-panel-classlist  {


  .main {

    grid-area: main;
    height: 100vh;
   
    @media #{$phone} {

      height:800px;
      padding: 40px 40px;

    }

    
    .class-category {

      width: 100%;
      margin-bottom: 40px;

      &-title {

        margin-bottom: 10px;

        h2 {

          span {

            font-weight: bold;
            color: $primaryColor;
            padding-left: 4px;

          }

          font-family: Kalameh-Black;
          font-size: 30px;
          color:#258C93;

          @media #{$phone} {

            margin-bottom: 15px;
      
          }

        }

      
      }

      &-items {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        .row {

          display: flex;
          flex-direction: row;
          width: 100%;

          @media #{$phone} {

            flex-direction: column;
            width: 100%;
            box-sizing: border-box;

  
          }

          a {

            display: block;
            width: 23%;

            @media #{$phone} {

              width: 100%;
      
            }

            .class-category-item {

              opacity: 0.4;
              display: flex;
              align-items: center;
              margin: 10px;
        
              height: 80px;
              border-radius: 15px;
              background-color: #fff;
              cursor: pointer;

              @media #{$phone} {

                width: 100%;
        
              }

              h3 {

                font-family: Kalameh-Black;
                font-size: 25px;
                margin-right: 30px;
                color: $secondaryColor; 

              }
              

            }

          }


        }

        .row:nth-child(1) {

          a:nth-child(1) {

            .class-category-item {
      
              background-image: url('../../../../../images/About-Nourzad.png');
              background-repeat: no-repeat;
              background-size: 50%;
              background-position: -30px 0px;
      
      
          }
      
        }

        a:nth-child(2) {

          .class-category-item {
    
            background-image: url('../../../../../images/About-Haniyeh.png');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: -30px 0px;
    
    
        }
    
      }

      a:nth-child(3) {

        .class-category-item {
  
          background-image: url('../../../../../images/About-Mina.png');
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: -30px 0px;
  
  
      }
  
    }

    a:nth-child(4) {

      .class-category-item {

        background-image: url('../../../../../images/About-Zahra.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: -30px 0px;


    }

  }

        }

        .row:nth-child(2) {

          a:nth-child(1) {

            .class-category-item {
      
              background-image: url('../../../../../images/About-Arezoo.png');
              background-repeat: no-repeat;
              background-size: 50%;
              background-position: -30px 0px;
      
      
          }
      
        }

          a:nth-child(2) {

            .class-category-item {
      
              background-image: url('../../../../../images/About-Javad.png');
              background-repeat: no-repeat;
              background-size: 50%;
              background-position: -30px 0px;
      
      
          }
      
        }

          a:nth-child(3) {


            .class-category-item {
      
              background-image: url('../../../../../images/About-Nikta.png');
              background-repeat: no-repeat;
              background-size: 50%;
              background-position: -30px 0px;
      
      
          }
      
        }

          a:nth-child(4) {



            .class-category-item {

              background-image: url('../../../../../images/About-Mehrashad.png');
              background-repeat: no-repeat;
              background-size: 50%;
              background-position: -30px 0px;


          }

        }


        }

      }


    }

    .class-list {

      width: 100%;

      .class-list-title {


        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @media #{$phone} {

          flex-direction: column;
          justify-content: center;
          align-items: center;
    
        }

        h2{

          span {

            font-weight: bold;
            color: $primaryColor;
            padding-left: 4px;
  
          }

          font-family: Kalameh-Black;
          font-size: 30px;
          color:#258C93;

          @media #{$phone} {

            margin-bottom: 15px;
      
          }

        }

        button {

          font-family: Yekan-Bakh-Regular;
          color: #258C93;
          border: 1px solid #258C93;
          background-color: transparent;

          @media #{$phone} {

           width: 100%;
           margin-bottom: 40px;
      
          }

          span {

            padding-right: 5px;
            font-family: Yekan-Bakh-Bold;
            font-size: 17px;

          }

        }

        button:hover {

          color: #fff;
          background-color: #258C93;

        }



      }

      .class-list-cards {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        flex-basis: 100%;
        flex: 1;
        width: 100%;
        height: 100%!important;

        @media #{$phone} {

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          flex: 0;

    
        }
    

        .class-card {

          display: flex;
          width: 45% !important;
          height: 250px;
          margin: 20px;
          border-radius: 20px;
          background-color: #fff;

          @media #{$phone} {

            flex-direction: column;
            margin: 5px 5px 20px 5px;
            width: 100% !important;
            height: 550px;
      
          }
      

          .class-detail {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            padding: 10px;

            @media #{$phone} {

              padding: 0;
              width: 100%;
              order: 2;
        
            }
            
            h3 {

              font-family: Kalameh-Black;
              font-size: 24px;
              color: #258C93;
              margin-bottom: 10px;

            }

            ul {

              margin-bottom: 10px;


              li {

                font-family: Yekan-Bakh-light;
                font-size: 14px;
                line-height: 25px;
                text-align: center;

              }

            }

            .class-action {

              display: flex;
              flex-direction: column;
              width: 100%;
              height: auto;

              @media #{$phone} {

                justify-content: center;
                width: 80%;
  
              }


              .manage-class {

                display: flex;
                justify-content: space-between;
                align-content: center;
                width: 100%;
                margin-bottom: 10px;

                @media #{$phone} {

                  flex-direction: column;
  
                }

                a {

                  width: 48%;
                  display: block;

                  @media #{$phone} {


                    width: 100%;
  
                  }

                 button {

                  width: 100%;
                  height: 30px;

                 }

                }

                a:nth-child(1) {

                  @media #{$phone} {

                    margin-bottom: 10px;

  
                  }

                }

              }

              .access-class {

                width: 100%;

                a {

                  display: block;
                  width: 100%;

                  button {

                  width: 100%;
                  height: 30px;
                  color: #fff;
                  background-color: $secondaryColor;

                  }

                }

              }

            }
      

          }

          .class-pic {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            border-radius: 20px;
            background-color:#fcfcfc;

            @media #{$phone} {

              width: 100%;
        
            }

            img {


              width: 150px;
              text-align: center;
            

            }

          }

        }

      }

    }




    }


}

