
  
  .container-teacher-panel-edit-classes {

    .main {
  
      grid-area: main;
      height: 100vh;
      overflow: visible;
     
      @media #{$phone} {
  
        height:800px;
        padding: 40px 40px;
  
      }
  
  
      .classes-edit {
  
        width: 100%;
        // background-color: #111;
  
        &-title {
  
  
        @media #{$phone} {
  
            flex-direction: column;
            justify-content: center;
            align-items: center;
      
          }
  
          span {
  
            font-weight: bold;
            color: $primaryColor;
            padding-left: 4px;
  
          }
  
          font-family: Kalameh-Black;
          font-size: 30px;
          color:#258C93;
  
        }
  
        &-grid {
  
          display: flex;
          align-items: center;
          width: 100%;
          height: 350px;
          margin-top: 10px;
  
          @media #{$phone} {
  
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
      
          }
  
  
         .classes-edit-form {
  
          width: 50%;
          height: 100%;
  
          @media #{$phone} {
  
            width: 100%;
            order: 2;
       
           }

           .classes-edit-actions {

            display: flex;
            justify-content: space-evenly;

            @media #{$phone} {

              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              
            }


            .row {


            @media #{$phone} {

              display: flex;
              justify-content: space-evenly;
              align-items: center;
              width: 100%;
              height: 50px;
              margin: auto;
              box-sizing: border-box;
              
            }

            button {

              @media #{$phone} {

                width: 50%;
                
              }

            }

            button:nth-child(2) {


              @media #{$phone} {
                
                margin-right: 20px;
                
              }

              
            }


            }

            button {

              font-family: Yekan-Bakh-Regular;
              color: #258C93;
              border: 1px solid #258C93;
              background-color: transparent;
    
              @media #{$phone} {
    
                width: 100%;
                margin-bottom: 10px;
           
               }

            }

            
            button:hover {

              color: #fff;
              background-color: #258C93;

            }

           }

           .classes-edit-table-box {

            overflow: scroll;
            height: 400px;
            padding: 20px;
            margin-top: 20px;

            @media #{$phone} {

              width: 100%;
              height: 300px;
              padding:0;

  
            }
            

            table {

              width: 100%;
              height: auto;
              text-align: center;
              border: 5px solid #F4F4F8;
              border-radius: 10px;
              border-collapse: collapse;

              th {

                text-align: center;
                vertical-align: middle;
                height: 30px;
                color: #fff;
                background-color: $primaryColor;


              }

              tr {

                    
                height: 60px !important;
                border-bottom: 8px solid #F4F4F8;


            td {

              vertical-align: middle;
              padding-top: 2px;
              text-align: center;

              button {

                width: 100px;
                height: 30px;
                background-color: $secondaryColor;
                color:#fff;


                @media #{$phone} {

                  width: 60px;
  
                }
                

              }


            }

              }

              tr:nth-child(odd) {

                background-color: #FFF4E5;
    
              }
    
              tr:nth-child(even) {
    
                background-color: #e9e9e9;
    
    
              }

            }

           }
  
          }
  
  
         }
  
         .class-registration-pic {
  
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 100%;
  
          @media #{$phone} {
  
     
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 20px;
            order: 1;
       
           }
  
          img {
  
            width: 300px;
  
            @media #{$phone} {
  
     
              width: 270px;
              margin-bottom: 20px;
         
             }
  
          }
  
         }
  
        }
  
      }

  }

  #editTimeModal {

    .changedate-box {


      width: 60%;
      margin-bottom: 20px;



    .changedate-input {

      box-sizing: border-box;
      font-family: Yekan-Bakh-Regular;
      width: 100%;
      height: 45px;
      border: none;
      padding-right: 15px;
      border-radius: 10px;
      background-color: #F4F4F8;

    }

  }
  

  }


  #addStudentsModal {

    .add-students-box {


      width: 60%;
      margin-bottom: 20px;



    .add-students-input {

      box-sizing: border-box;
      font-family: Yekan-Bakh-Regular;
      width: 100%;
      height: 45px;
      border: none;
      padding-right: 15px;
      border-radius: 10px;
      background-color: #F4F4F8;

    }

  } 

  }
