

.container-teacher-panel-studentlist {


  .main {

    grid-area: main;
    height: 100vh;

    @media #{$phone} {

      height:800px;
      padding: 40px 40px;

    }

    .placementtest-history {

      width: 100%;

      .placementtest-history-title {

        display: flex;
        justify-content: space-between;

        @media #{$phone} {

          flex-direction: column;
          justify-content: center;
          align-items: center;
    
        }

        h2{

          span {

            font-weight: bold;
            color: $primaryColor;
            padding-left: 4px;
  
          }

          font-family: Kalameh-Black;
          font-size: 30px;
          color:#258C93;

          @media #{$phone} {

            margin-bottom: 15px;
      
          }


        }

        button {

          font-family: Yekan-Bakh-Regular;
          color: #258C93;
          border: 1px solid #258C93;
          background-color: transparent;

          @media #{$phone} {

            width: 100%;
            margin-bottom: 40px;
       
           }

          span {

            padding-right: 5px;
            font-family: Yekan-Bakh-Bold;
            font-size: 17px;

          }

        }

        button:hover {

          color: #fff;
          background-color: #258C93;

        }



      }

      .placementtest-history-table-box  {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 20px;

        @media #{$phone} {

          overflow-x:auto;
          font-size: 14px;
     
         }

        table {

          width: 100%;
          text-align: center;
          border: 5px solid #F4F4F8;
          border-radius: 10px;
          border-collapse: collapse;


        @media #{$phone} {

          width:800px;
     
         }

          
          th {

            height: 30px;
            padding-top:17px;
            color: #fff;
            background-color: $primaryColor;


          }

          tr {


            height:60px;
            border-bottom: 8px solid #F4F4F8;

            td {
              vertical-align: middle;

              padding-top:0 !important;
              text-align: center;

    
            }

          td:nth-child(8){

           span {

            font-family: Yekan-Bakh-Medium;
            font-size: 12px;
            padding: 7px;
            border-radius: 10px;
            color: rgb(255, 255, 255);
            background-color: #00af6c;

           }

          }

          

          }

          tr:nth-child(odd) {

            background-color: #FFF4E5;

          }

          tr:nth-child(even) {

            background-color: #e9e9e9;


          }


        }

      }


  }


  }

}


