<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ایجاد آزمون</title>
    <link rel="stylesheet" href="../../public/dist/css/main.min.css">

    <!-- <style>

        ::-webkit-scrollbar {

            width: 20px;

        }

        ::-webkit-scrollbar-track {

            box-shadow: inset 0 0 5px rgba(46, 46, 46, 0.11); 
            border-radius: 20px;

        }

        ::-webkit-scrollbar-thumb {

            background:   linear-gradient(145deg, rgba(37,140,147,1) 0%, rgba(70,174,181,1) 100%);
            border-radius: 20px;

        }

    </style> -->

</head>
<body>
    
    <div class="conatiner student-quiz-page">

        <nav class="student-quiz-nav m-quiz-container">

            <div class="student-quiz-nav-logo" >

                <img src="../../public/images/ICDRN-Navbar-Logo.png" alt="">
               
                <h3>
                    آزمون هوشمند
                </h3>

            </div>

            <div class="student-quiz-nav-avatar">

                <img src="../../public/images/Quiz-Avatar.svg" alt="">

                <h3>

                    <span>
                        دانش آموز
                    </span>

                    میلاد محمدی

                </h3>

            </div>

        </nav>

        <main class="teacher-quiz-body  m-quiz-container">

            <section class="student-quiz-questions  m-quiz-container">
            
                <article class="section-box category-question-box">

                    <div class="question-form-row">


                        <span>
                            I don’t think we -------- eat in this restaurant – it looks dirty!                        </span>

                    </div>
   
                    
                    <div class="mutiple-options-structure">

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">stay where you are and be quiet.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">go towards a busier place.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">phone a taxi at once.</label>

                        </div>
                        
                    </div>  

                    <!-- <div class="filling-options-structure">

                        <div class="filling-option-item">

                            <input type="text" class="filling-answer-body" placeholder="Enter Your Question Form Here...">
                           
                        </div>

                        
                    </div> -->

                    <!-- <div class="reading-options-structure">

                        <div class="reading-option-item"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </div>

                        
                    </div> -->

                    <!-- <div class="writing-options-structure">

                        <div class="writing-option-box"  style="white-space: pre-line" >

                            Something amazing happened to you this morning (e.g. you won a competition, you got good exam results, you found some money, etc.). Write a forum post with the title The Best Day Ever. Follow the instructions below.  
                           
                            Say what you were doing this morning, before the event happened. 
                            Describe what happened. 
                            Say how it made you feel.
                            Encourage other forum users to write about similar experiences. 
                                
                                                    
                        </div>

                        <textarea class="writing-option-answer-box"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </textarea>

                        
                    </div> -->

                </article> 

                <article class="section-box category-question-box">

                    <div class="question-form-row">


                        <span>
                            I don’t think we -------- eat in this restaurant – it looks dirty!                        </span>

                    </div>
   
                    
                    <!-- <div class="mutiple-options-structure">

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">stay where you are and be quiet.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">go towards a busier place.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">phone a taxi at once.</label>

                        </div>
                        
                    </div>   -->

                    <div class="filling-options-structure">

                        <div class="filling-option-item">

                            <input type="text" class="filling-answer-body" placeholder="Enter Your Question Form Here...">
                           
                        </div>

                        
                    </div>

                    <!-- <div class="reading-options-structure">

                        <div class="reading-option-item"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </div>

                        
                    </div> -->

                    <!-- <div class="writing-options-structure">

                        <div class="writing-option-box"  style="white-space: pre-line" >

                            Something amazing happened to you this morning (e.g. you won a competition, you got good exam results, you found some money, etc.). Write a forum post with the title The Best Day Ever. Follow the instructions below.  
                           
                            Say what you were doing this morning, before the event happened. 
                            Describe what happened. 
                            Say how it made you feel.
                            Encourage other forum users to write about similar experiences. 
                                
                                                    
                        </div>

                        <textarea class="writing-option-answer-box"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </textarea>

                        
                    </div> -->

                </article> 

                
                <article class="section-box category-question-box">

                    <div class="question-form-row">


                        <span>
                            I don’t think we -------- eat in this restaurant – it looks dirty!                        </span>

                    </div>
   
                    
                    <!-- <div class="mutiple-options-structure">

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">stay where you are and be quiet.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">go towards a busier place.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">phone a taxi at once.</label>

                        </div>
                        
                    </div>   -->

                    <!-- <div class="filling-options-structure">

                        <div class="filling-option-item">

                            <input type="text" class="filling-answer-body" placeholder="Enter Your Question Form Here...">
                           
                        </div>

                        
                    </div> -->

                     <div class="reading-options-structure">

                        <div class="reading-option-item"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </div>

                        
                    </div> 

                    <!-- <div class="writing-options-structure">

                        <div class="writing-option-box"  style="white-space: pre-line" >

                            Something amazing happened to you this morning (e.g. you won a competition, you got good exam results, you found some money, etc.). Write a forum post with the title The Best Day Ever. Follow the instructions below.  
                           
                            Say what you were doing this morning, before the event happened. 
                            Describe what happened. 
                            Say how it made you feel.
                            Encourage other forum users to write about similar experiences. 
                                
                                                    
                        </div>

                        <textarea class="writing-option-answer-box"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </textarea>

                        
                    </div> -->

                </article> 


                
                <article class="section-box category-question-box">

                    <div class="question-form-row">


                        <span>
                            I don’t think we -------- eat in this restaurant – it looks dirty!                        </span>

                    </div>
   
                    
                    <!-- <div class="mutiple-options-structure">

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">stay where you are and be quiet.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">go towards a busier place.</label>

                        </div>

                        <div class="mutiple-option-item">

                            <input type="radio">
                            <label for="">phone a taxi at once.</label>

                        </div>
                        
                    </div>   -->

                    <!-- <div class="filling-options-structure">

                        <div class="filling-option-item">

                            <input type="text" class="filling-answer-body" placeholder="Enter Your Question Form Here...">
                           
                        </div>

                        
                    </div> -->

                    <!-- <div class="reading-options-structure">

                        <div class="reading-option-item"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </div>

                        
                    </div> -->

                   <div class="writing-options-structure">

                        <div class="writing-option-box"  style="white-space: pre-line" >

                            Something amazing happened to you this morning (e.g. you won a competition, you got good exam results, you found some money, etc.). Write a forum post with the title The Best Day Ever. Follow the instructions below.  
                           
                            Say what you were doing this morning, before the event happened. 
                            Describe what happened. 
                            Say how it made you feel.
                            Encourage other forum users to write about similar experiences. 
                                
                                                    
                        </div>

                        <textarea class="writing-option-answer-box"  style="white-space: pre-line" >

                            On top of the world
                            In January 2015, Kevin Jorgeson and Tommy Caldwell climbed to the top of the Dawn Wall of El Capitan – a famous mountain in Yosemite National Park, USA. This is often described as the world’s most difficult rock climb. It took Jorgeson and Caldwell eighteen days to climb the 900 metres to the top! During this time, they hung tents off the rock, and ate and slept in them. The Dawn Wall is so difficult because there is nothing big for climbers to hold onto. Jorgeson and Caldwell had to climb by holding tiny pieces of rocks with the ends of their fingers. They used ropes to protect themselves from falling, but not to help them climb.
                            Kevin Jorgeson nearly didn't finish the climb. He found one part of the Dawn Wall extremely difficult. It took him seven days to do this part, and he fell eleven times. His fingers were damaged too, so he had to wait for them to get better before he could continue. But in the end, both men finished the climb together. It was an amazing achievement.
                            Only two weeks later, an ice climber called Will Gadd became the first person to climb a frozen part of the Niagara Falls. These falls, on the Niagara River between America and Canada, are the biggest waterfalls in North America. They are made of three separate waterfalls, and Gadd climbed the Horseshoe Falls, on the Canadian side. In winter, a part of these 50.9 metre falls freezes, and Gadd wanted to climb up the ice. But it was an extremely difficult climb. The ice was very thick in some places, but not in other places. And because only a part of the waterfall was frozen, a lot of water fell past Gadd as he climbed. Gadd knew that if he fell, he would probably die − but he got to the top.
                            But why do people want to do dangerous climbs like these? 'Dangerous situations are very exciting,' says climber Terrence Jones. 'They make you feel alive.' Humans have always looked for challenges, but many of the old challenges – like climbing Mount Everest – aren’t exciting enough for some climbers because so many people have already done them. ‘Climbers like Caldwell and Gadd want to achieve more than anyone else,’ says Jones, ‘so that the world will read about them in the papers and see them on TV.’
                            One day people will complete all of the difficult climbs on Earth, so what will climbers do then? ‘I don’t know,’ says Jones. ‘But perhaps one day far in the future people won’t climb on Earth. There are still mountains to climb on Mars!’ This may never happen, of course, but one thing is certain: the search for adventure will not stop.

                                                    
                        </textarea>

                        
                    </div> 

                </article> 




                <!-- <article class="writing-body-box"  style="white-space: pre-line" id="readingPlaceHolder">
                </article>   -->

            </section>

            <aside class="student-quiz-sidebar  m-quiz-container">

                <div class="student-quiz-sidebar-cover">
                   
                    <img src="../../public/images/Quiz-pic.svg" alt="">

                </div>

                
                <h3 class="student-quiz-sidebar-title">
                    آزمون میان ترم آیلتس | IELTS
                </h3>

                <div class="student-quiz-sidebar-info">

                    <div class="student-quiz-sidebar-info-teacher">

                   
                        <img src="../../public/images/Quiz_Teacher-Icon.svg" alt="">
                        
                        <h3>
                            <span>
                                مدرس دوره
                            </span>
                            دکتر پژمان نورزاد
                        </h3>
    
                    </div>

                    <div class="student-quiz-sidebar-info-questions">

                        <img src="../../public/images/Quiz_Questions-Icon.svg" alt="">
                        
                        <h3>
                            <span>
                               تعداد سوالات
                            </span>
                            ۶۵ سوال
                        </h3>  

                    </div>

                </div>
           
                <div class="student-quiz-sidebar-time">

                    <span>
                        زمان باقی مانده: ۳۳:۰۲

                    </span>

                </div>

                <button type="button" class="record-quiz-btn">

                    نهایی سازی آزمون

                </button>


            </aside>

        </main>

    </div>
    
    <script src="../../public/app/js/structureIdentifier.js"></script>
</body>
</html>