<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>آیلتس کلاب | کلاس آیلتس</title>
  <link rel="icon" type="image/png" sizes="94x94" href="../images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="../images/Favicon/manifest.json">
  <link rel="stylesheet" href="../dist/css/main.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


  <style>

    #loader-wrapper {
      position:fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1000;
    }
    
    #loader-wrapper .loader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10001;
      width:300px;
      height:150px;
    }
    
    #loader-wrapper .loader h2 {
    
      font-size: 30px;
      font-family: Kalameh-Black;
      color: #fff;
    
    
    }
    
    
    @-webkit-keyframes spin {
      0%   { 
        -webkit-transform: rotate(0deg); 
          -ms-transform: rotate(0deg); 
              transform: rotate(0deg);
      }
      100% { 
        -webkit-transform: rotate(360deg); 
          -ms-transform: rotate(360deg); 
              transform: rotate(360deg);
      }
    }
    @keyframes spin {
      0%   { 
        -webkit-transform: rotate(0deg); 
          -ms-transform: rotate(0deg); 
              transform: rotate(0deg);
      }
      100% { 
        -webkit-transform: rotate(360deg); 
          -ms-transform: rotate(360deg); 
              transform: rotate(360deg);
      }
    }
    
    #loader-wrapper .loader-section {
      position:fixed;
      top:0;
      background-image: linear-gradient(#258c93,#1D3C4E);
      width:51%;
      height:100%;
      z-index:1000;
    }
    
    #loader-wrapper .loader-section.section-left {
      left:0
    }
    #loader-wrapper .loader-section.section-right {
      right:0;
    }
    
    /* Loaded Styles */
    .loaded #loader-wrapper .loader-section.section-left {
      transform: translateX(-100%);
      transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }
    .loaded #loader-wrapper .loader-section.section-right {
      transform: translateX(100%);
      transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }
    .loaded #loader {
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
      visibility: hidden;
      transform:translateY(-100%);
      transition: all 0.3s 1s ease-out;
    }

    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 150px;

      overflow: hidden;

    
    }

    certificate-slide {

      height: 250px;
      text-align: center;

    }

    .swiper-slide img {

      width: 150px;

    }

    .swiper-slide p{

      text-align: center;

    }
    
      </style>
  
</head>
<body>

  <section class="welcome-label">

    <h4>
      سلام، به وب سایت آیلتس کلاب خوش اومدی!
    </h4>

    <a href="https://guide.ieltsdrn.com"><button class="icdrn-btn" type="submit"> راهنمای استفاده </button></a>

  </section>
  
  <header class="header container">

    <div class="overlay flex flex-jc-c flex-ai-c hide-for-desktop">

    <ul class="overlay-menu">
      <li class="overlay-menu-item bounceInLeft">
        <a href="/">خانه</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/courses">کلاس های آنلاین</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/blog">ویدئو آموزشی</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/about">درباره ما</a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/contact">تماس با ما</a>
      </li>
      <li class="overlay-menu-item bounceInLeft"> <a href="/privacy-policy">قوانین و مقررات</a></li>
      <% if(authed==true){ %>
        <% if(isTeacher==true) {%> 
          <a href="/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">پنل کاربری</button>
          </a>
          <% }else{ %>
            <a href="/dashboard"> <button class="nav-cta-btn icdrn-btn " type="submit">پنل کاربری</button>
            </a>
          <%} %> 
    <%  }else{ %> 
      <li class="overlay-menu-item bounceInLeft">
        <a href="/register">
          <button class="nav-cta-btn icdrn-btn " type="submit">
            ثبت نام
          </button> 
        </a>
      </li>
      <li class="overlay-menu-item bounceInLeft">
        <a href="/login"> ورود
        
        </a>
        </li>
        <% } %> 
    </ul>

    </div>

    <nav class="header-nav flex flex-jc-sb flex-ai-c">
      <a href="#" class="nav-logo">
        <img src="/images/ICDRN-Navbar-Logo.svg" alt="Ielts-DRN-Logo">
      </a>
    
      <ul class="nav-menu-links hide-for-phone">
        <li class="nav-menu-links-item"><a href="/">خانه</a></li>
        <li class="nav-menu-links-item"><a href="/courses">کلاس های آنلاین</a></li>
        <li class="nav-menu-links-item"><a href="/blog">ویدئو آموزشی</a></li>
        <li class="nav-menu-links-item"><a href="/about">درباره ما</a></li>
        <li class="nav-menu-links-item"><a href="/contact" >تماس با ما</a></li>
        <li class="nav-menu-links-item"><a href="/privacy-policy">قوانین و مقررات</a></li>
      </ul>
      

      <div class="language-switcher-box  hide-for-phone">

        <div class="language-dropdown">
          <div class="default-language">
            <img src="/images/Iran-flag.svg" alt="ایلتس کلاب  دکتر نورزاد">
            <i class="fas fa-chevron-down"></i>
          </div>
          <ul>
            <a href="/courses/ielts-course"> <li> <img src="/images/Iran-flag.svg" alt="ایلتس کلاب  دکتر نورزاد"> <span>فارسی</span></li></a>
                 <a href="/en/courses/ielts-course"><li> <img src="/images/united-kingdom-flag.svg" alt="ایلتس کلاب  دکتر نورزاد"> <span>English</span></li></a> 
          </ul>
        </div>

      </div>

      <a href="#" class="nav-mobile-menu hide-for-desktop" id="humburgerBtn">
        <span class="humburger-line"></span>
        <span class="humburger-line"></span>
        <span class="humburger-line"></span>
      </a>
      <% if(authed==true){ %> 
        <% if(isTeacher==true) {%> 
          <a href="/teachers/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">پنل کاربری</button>
          </a>
          <% }else{ %>
            <a href="/dashboard"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit">پنل کاربری</button>
            </a>
          <%} %> 
        <% }else{ %> 
      <div class="nav-action">
        <a href="/register"> <button class="nav-cta-btn icdrn-btn hide-for-phone" type="submit"> ثبت نام</button>
        </a>
        <a class="login-link hide-for-phone" href="/login">ورود
        </a>
        </div>
        <% } %> 
    </nav>
  </header>


  <section class="online-ielts-class container">

    <div class="ielts-class-into-grid">

      <div class="ielts-class-detail">

        <h2>
          کلاس آنلاین <span>آموزشی</span> آیلتس
        </h2>

        <p>
          اولین سوالی که برای همه پیش میاد اینه که چقدر طول میکشه تا به سطح آیلتس برسم؟؟ در‌ این مورد، میزان تلاش شما خیلی تعیین کننده هستش اما با سیستم آموزشی فشرده ای که مجموعه آیلتس کلاب برای شما در نظر گرفته، میتونی حدودا ۸-۱۰ ماهه به سطح آیلتس برسی. مزیت این دوره های فشرده (crash course ) این هست که هم از نظر اقتصادی برای شما به صرفه هستند و هم در زمان شما صرفه جویی میشه و این کلاس ها تا سقف ۶ نفر هستن. البته که با کلاس های خصوصی که به صورت تک نفره برگزار میشن، این مدت زمان کوتاه تر و‌ حتی نصف خواهد شد.
        </p>

        <div class="course-btn-box">
          <a href="/panel/class-registration"> <button type="submit">
            همین الان ثبت نام کن!
          </button></a> 
        </div>

      </div>

    


      <div class="ielts-class-pic">

        <img src="../images/Ielts-page-pic.png" alt="ایلتس کلاب  دکتر نورزاد">

      </div>

    </div>


    <section class="course-chart container">

      <div class="icdrn-title">
        <h2>
          <span>چارت</span>
          کلاس آیلتس
        </h2>
        <p>
          اطلاعات جلسات و سول آن ها را
          <br>
          به راحتی در چارت زیر مطالعه کنید.
        </p>
        <a href="/IELTS-chart.pdf">
        <button class="icdrn-btn" type="submit">
          مشاهده چارت
        </button></a>
      </div>
    
      <div class="course-chart-img">
        <img src="../images/Chart-Illustration.svg" alt="ایلتس کلاب  دکتر نورزاد">
      </div>
    
    </section>

    <div class="ielts-book">

      <div class="icdrn-title">

        <h2>
          کتاب هایی که
          <span>نیازت</span>
          میشه
        </h2>
    
      </div>

      
    <section class="slide-book container">

      <div class="swiper-container">

        <div class="swiper-wrapper">

          <div class="swiper-slide">
            
              <img src="../images/Cutiing-edge-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">


          </div>

          <div class="swiper-slide">  

            <img src="../images/Active-Book.jpg" style="height: 210px;" alt="ایلتس کلاب  دکتر نورزاد">

          </div>

          <div class="swiper-slide">  

            <img src="../images/504-book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

        </div>

        <div class="swiper-slide">  

          <img src="../images/Cambridge-test-14-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

      </div>

      <div class="swiper-slide">  

        <img src="../images/Cambridge-test-15-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

    </div>

    <div class="swiper-slide">  

      <img src="../images/Essentioal-Words-For-Ielts-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

      <img src="../images/Achive-Ielts-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

    <img src="../images/Complet-Ielts-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

    <img src="../images/Ielts-Practice-Test-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

    <img src="../images/Ielts-Test-Builder(2).jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

    <img src="../images/Ielts-Test-Builder.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

    <img src="../images/Focus-on-Ielts-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

    <img src="../images/Vocab-For-Ielts-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>


  <div class="swiper-slide">  

    <img src="../images/Cambridge-EN-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>

  <div class="swiper-slide">  

    <img src="../images/Tactics-for-listening.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>
          

  <div class="swiper-slide">  

    <img src="../images/New-insight-to-ielts-Book.png" alt="ایلتس کلاب  دکتر نورزاد">


  </div>
          

  <div class="swiper-slide">  

    <img src="../images/Essen-words-for-ielts-book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>
          

  <div class="swiper-slide">  

    <img src="../images/Barrons-Ielts-Book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>
          


  <div class="swiper-slide">  

    <img src="../images/High-impact-ielts-book.jpg" alt="ایلتس کلاب  دکتر نورزاد">

  </div>
          

          
         
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

    </section>



    </div>

    <div class="ielts-certificate">

      <div class="icdrn-title">

        <h2>
          مدارک  
          <span>
            معتبر
          </span>
          دانشجوهامون :)
        </h2>
    
      </div>

      
    <section class="ielts-certificate container">

      <div class="swiper-container">

        <div class="swiper-wrapper">

          <div class="swiper-slide certificate-slide">
            
              <img src="../images/Ielts-Certificate(2).png" alt="ایلتس کلاب  دکتر نورزاد">
              <p>
                Score: 8
              </p>


          </div>

          <div class="swiper-slide certificate-slide">  

            <img src="../images/Ielts-Certificate(3).png" alt="ایلتس کلاب  دکتر نورزاد">
            <p>
              Score: 8
            </p>

          </div>

          <div class="swiper-slide certificate-slide">  


            <img src="../images/Ielts-Certificate(7).png" alt="ایلتس کلاب  دکتر نورزاد">
            <p>
              Score: 8
            </p>
        

        </div>

        <div class="swiper-slide certificate-slide">  

              
        <img src="../images/Ielts-Certificate(1).png" alt="ایلتس کلاب  دکتر نورزاد">
        <p>
          Score: 7.5
        </p>




      </div>

      <div class="swiper-slide certificate-slide">  

        <img src="../images/Ielts-Certificate(5).png" alt="ایلتس کلاب  دکتر نورزاد">
        <p>
          Score: 7
        </p>


    </div>

    <div class="swiper-slide certificate-slide">  

      <img src="../images/Ielts-Certificate(6).png" alt="ایلتس کلاب  دکتر نورزاد">
      <p>
        Score: 7
      </p>


  </div>

  <div class="swiper-slide certificate-slide">  


    <img src="../images/Ielts-Certificate(4).png" alt="ایلتس کلاب  دکتر نورزاد">
    <p>
      Score: 7
    </p>


  </div>

  <div class="swiper-slide certificate-slide">  

    <img src="../images/Ielts-Certificate(8).png" alt="ایلتس کلاب  دکتر نورزاد">
    <p>
      Score: 7
    </p>


  </div>

  <div class="swiper-slide certificate-slide">  

    <img src="../images/Ielts-Certificate(9).png" alt="ایلتس کلاب  دکتر نورزاد">
    <p>
      Score: 7
    </p>


  </div>

  <div class="swiper-slide certificate-slide">  

    <img src="../images/Ielts-Certificate(10).png" alt="ایلتس کلاب  دکتر نورزاد">
    <p>
      Score: 6.5
    </p>


  </div>
  <!-- <div class="swiper-slide certificate-slide">  

    <img src="../images/IMG_6227.png" alt="ایلتس کلاب  دکتر نورزاد">
    <p>
      Score: 6.5
    </p>


  </div> -->  
          
         
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

    </section>



    </div>

      
      <div class="student-status container">

        <div class="icdrn-title">

          <h2>
            الان
            <span>وقت</span>
            تصمیم گیریه!
          </h2>
      
        </div>

        <div class="student-status-grid">

          <div class="start-placement">

            <img src="../images/Placement-Q!uiz.svg" alt="ایلتس کلاب  دکتر نورزاد">
            <h3>هنوز تعیین سطح ندادی؟</h3>
            <p>
              شرکت در تمامی کلاس های آنلاین آیلتس کلاب، نیازمند برسی دقیق سطح دانش شماست
            </p>
            <a href="/panel/placement-test-history"><button type="submit" class="icdrn-btn">
              شروع تعیین سطح
            </button></a>

          </div>

          <div class="start-register">

            <img src="../images/class-registration-pic.svg" alt="ایلتس کلاب  دکتر نورزاد">
            <h3>کلاس آنلاین ثبت نام نکردی؟</h3>
            <p>
              یعد از این که سطحت توی زبان انگلیسی
              مشخص شد زمان ثبت نام توی کلاس هاست!
            </p>
            <a href="/quiz"><button type="submit" class="icdrn-btn">
              ثبت نام در کلاس آنلاین
            </button></a>

          </div>

        </div>
      </div>
      

  </section>
  

<footer class="footer">

  <div class="footer-grid">

    <div class="footer-about">

      <h4>
 
         درباره مجموعه ما   

      </h4>
      <p>
        تیم آیلتس کلاب با سرپرستی دکتر پژمان نورزاد اینجاست تا به شما بگه برای یادگیری زبان هیچ مانعی سر راهتون نیست حتی موقعیت جغرافیایی!
یادت باشه برای شروع نیاز به هیچ پیشینه ای نداری! پس همین الان از هر جای دنیا میتونی شروع کنی.
      </p>

    </div>

    <div class="footer-fast-access-menu">
      <h4>
        دسترسی سریع
      </h4>
      <ul>
        <li>
          <a href="/courses" style="color:white">کلاس های آنلاین</a>
        </li>
        <li>
          <a href="/contact" style="color:white">ارتباط سریع با مجوعه</a>
        </li>
        <li>
          <a href="/privacy-policy" style="color:white">  قوانین و حریم شخصی</a>
        </li>
        <li>
          <a href="/about" style="color:white">تیم تخصصی مجموعه</a>
        </li>
        <li>
          <a href="/contact" style="color:white"> پشتیبانی و پیگیری</a>
        </li>
      </ul>
    </div>

    <div class="footer-newsletter">
      <h4>
          نماد اعتماد الکترونیک
        </h4>
  
        <!-- <div class="newsletter-box">
          <input type="text" class="newsletter-input">
          <button type="submit" class="newsletter-btn">ارسال</button>
        </div> -->
  
  
        <div class="newsletter-box">
         <div class="enamad-inner"> <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=197785&amp;Code=wDFI7TujPaDzb0CU6EzI"><img referrerpolicy="origin" src="/images/star1.png"></a></div>
  
          
        </div>
  
  


    </div>

  </div>

</footer>

<section class="codecamp-label">
  <h4>تمامی حقوق برای برند آیلتس کلاب دکتر نورزاد محفوظ است</h4>
</section>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left">

  </div>
  <div class="loader-section section-right"></div>
  <div class="loader">
    <img src="../images/loading.svg" alt="ایلتس کلاب  دکتر نورزاد">
    <h2>سایت در حال بارگذاریه!</h2>
  </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper('.swiper-container', {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
  });
</script>

  <script src="../app/js/app.js"></script>

  <script>

    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });
    
        
        //language Swticher

        let getDefaultLanguage = document.querySelector('.default-language')
        let getLanguageDropdown = document.querySelector('.language-dropdown ul')


      getDefaultLanguage.addEventListener('click', () => {
        
        getLanguageDropdown.classList.toggle('active');

      })
      </script>

</body>
</html>