
.icdrn-title {

  h2 {

    font-family: Kalameh-Black;
    font-size: 45px;
    color: $secondaryColor;

    span {

      color: $primaryColor;

    }

 
  }

  p {

    font-family: Kalameh-Regular;    font-size: 20px;
    color: $secondaryColor;
  }


}