
// Variables Realated To Colors

$whiteColor:#fff;
$blackColor:#111;
$textColor:rgb(44, 44, 44);
$primaryColor:#ECB773;
$richyPrimaryColor:#e0a75d;
$secondaryColor:#258c93;
$richySecondaryColor:#1D3C4E;
